.hero-country {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.hero-text {
  text-align: center;
  margin-bottom: 30px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text h1 span {
  color: #255afa;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.hero-form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.hero-form h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.hero-form input,
.hero-form select {
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.hero-form input::placeholder,
.hero-form select {
  color: #ffffff;
}
.hero-form select option{
  background-color: rgba(0, 0, 0, 0.582);
}
.hero-form button {
  background-color: #003cff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero-form button:hover {
  background-color: #0800e3;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-overlay{
    flex-direction: column;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-form {
    max-width: 320px;
    padding: 20px;
  }
}
