.ireland-container {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #002b5c;
}

.ireland-content {
  padding: 60px 10%;
  background: #ffffff;
}

.ireland-content h2 {
  font-size: 2.2rem;
  color: #003b88;
  margin-bottom: 1rem;
  text-align: center;
}

.ireland-content h2 span {
  color: #0077ff;
}

.ireland-content h3 {
  color: #004aad;
  margin-top: 2rem;
  font-size: 1.4rem;
  border-left: 5px solid #0077ff;
  padding-left: 10px;
}

.ireland-content p {
  line-height: 1.8;
  margin: 1rem 0;
  color: #333;
}

.ireland-content ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

.ireland-content li {
  margin: 5px 0;
}

.uni-list li {
  font-weight: 500;
  color: #0056c1;
}

.job-sites li {
  color: #0066cc;
  cursor: pointer;
  transition: 0.3s;
}

.job-sites li:hover {
  text-decoration: underline;
  color: #004aad;
}

.content-wrapper {
  background: #ffffff;
  padding: 40px;
}
